---
import type { CollectionEntry } from "astro:content";

import ProjectCard from "./ProjectCard.astro";

export interface Props {
	projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="wrapper projects projects-container">
	<ul class="project-grid">
		{
			projects.map((project) => (
				<li class="project-item">
					<ProjectCard project={project} />
				</li>
			))
		}
	</ul>
</div>

<style>
.projects-container {
	width: 100%;
	max-width: var(--max-width, 1200px);
	margin: 0 auto;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 2rem;
    list-style: none;
}

.project-item {
    display: flex;
    justify-content: center;
}

@supports not (grid-template-rows: subgrid) {
	.project-item {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}
</style>