---
import { Icon } from 'astro-icon/components'
---

<div class="back-link-container">
    <a href="/" class="back-link">
        <Icon name="mdi:arrow-left" width={24} height={24} />
        back to home
    </a>
</div>

<style>
    .back-link-container {
        margin: 1.5rem 0 1rem;
    }

    .back-link {
        display: inline-flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0rem;
        color: inherit;
        text-decoration: none;
        font-weight: var(--fw-bold);
        transition: all 0.2s ease-in-out;
    }

    .back-link:hover {
        color: var(--clr-btn-primary);
        transform: translateX(-4px);
    }
</style>
