---
import { Image } from "astro:assets";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogList from "../../components/blog/BlogList.astro";
import BackToHome from "../../components/shared/BackToHome.astro";

const posts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter(({ data }) => data.draft !== true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<BaseLayout title="Blog" description="A collection of blog posts" pageTitle="Blog">
  <main>
    <section>
      <div class="container">
        <BackToHome />
        <BlogList posts={posts} />
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  .container {
    /* width: min(100% - 2rem, 70rem); */
    margin-inline: auto;
    padding-inline: var(--container-padding, 1rem);
  }
</style>