---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { type CollectionEntry, getCollection, render } from "astro:content";
import BlogList from "../../components/blog/BlogList.astro";
import BackToHome from "../../components/shared/BackToHome.astro";

const posts: CollectionEntry<"blog">[] = (await getCollection("blog"))
  .filter(({ data }) => data.draft !== true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<BaseLayout title="Blog" description="A collection of blog posts" pageTitle="Blog">
  <BackToHome />
  <div class="blog">
        <BlogList posts={posts} />
</div>
</BaseLayout>

<style>
  .blog {
    max-width: 1280px;
    width: 100%;
  }
</style>