@font-face {
  font-family: 'SedanItalic';
  src: url('/fonts/SedanItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SedanRegular';
  src: url('/fonts/SedanRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterItalic';
  src: url('/fonts/InterItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'InterRegular';
  src: url('/fonts/InterRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
