@font-face {
  font-family: 'SedanItalic';
  src: url('/fonts/SedanItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SedanRegular';
  src: url('/fonts/SedanRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InterItalic';
  src: url('/fonts/InterItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'InterRegular';
  src: url('/fonts/InterRegular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Layouut */
  --max-width: 1280px;
  --gutter: 20px;

  /* breaks */
  --brk-xl: 1080px;
  --brk-lg: 800px;

  /* font sizes */
  --fs-300: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.5rem;
  --fs-800: 3rem;
  --fs-900: 3.5rem;

  /* font families */
  --ff-sans: 'Inter', sans-serif;
  --ff-serif: 'Sedan', serif;

  /* font weights */
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 700;

  --clr-primary-400: #585858;
}

/*  utilitiy classes */

.header {
  font-family: var(--ff-serif);
  font-style: italic;
  font-size: var(--fs-700);

  &::before {
    display: block;
    content: '';
    width: 90%;
    margin: 1.5rem auto;
    height: 2px;
    background-color: var(--clr-primary-400);
  }
}

.paragraph {
  font-size: var(--fs-500);
  font-family: var(--ff-sans);
  font-weight: var(--fw-light);
  line-height: 1.5;
  text-wrap: pretty;
}
