---
import { Icon } from 'astro-icon/components'

interface NavItem {
  name: string;
  url: string;
  isShown: boolean;
}

interface Props {
  items: NavItem[];
}

const { items } = Astro.props;
---

<nav class="mobile-nav" >
  <h2 class="hidden">Mobile Navigation</h2>
  <button role="button" id="openMenuButton" aria-label="Open mobile menu" class="">
      <Icon name="mdi:menu" />
  </button>
  <button role="button" id="closeMenuButton" aria-label="Close mobile menu" class="hidden">
    <Icon name="mdi:close" />
  </button>
  <div id="mobileMenu" class="hidden mobile-menu">
    <ul class="menu-items">
      {items.map((item) => (
        item.isShown && (
          <li>
            <a href={item.url}>{item.name}</a>
        </li>
        )
      ))}
    </ul>
  </div>
</nav>

<style>
    button {
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    
    .mobile-nav {
        display: block;
        display: flex;
        flex-direction: row-reverse;
        
    }
    
    .mobile-menu {
        display: block;
    }
    
    .menu-items {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        font-size: var(--fs-400);
    }
    /* JavaScript will toggle these classes */
    .hidden {
        display: none;
    }
    
    @media (width > 800px) {
        .mobile-nav {
            display: none;
        }
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        // open menu
        document.getElementById("openMenuButton")?.addEventListener("click", () => {
            document.getElementById("mobileMenu")?.classList.remove("hidden");
            document.getElementById("openMenuButton")?.classList.add("hidden");
            document.getElementById("closeMenuButton")?.classList.remove("hidden");
        });
        // close menu
        document.getElementById("closeMenuButton")?.addEventListener("click", () => {
            document.getElementById("mobileMenu")?.classList.add("hidden");
            document.getElementById("openMenuButton")?.classList.remove("hidden");
            document.getElementById("closeMenuButton")?.classList.add("hidden");
        });
      });

</script>