---
import BaseLayout from "../layout/BaseLayout.astro";

---

<BaseLayout>
    <div class="wrapper">
        <div class="about">

            <h1>short story long</p>
            <p class="paragraph">I was born a month before Pac-Man was released. A few years later during high school I got my first PC (486 DX-33 8MB RAM) and soon got hooked with everything computer related. Ever since I got my first ready-made PC I have always been building my systems myself from scratch. I&apos;ve then became the go to guy in our family if there were PC problems. I dabbled in Turbo Pascal and Delphi and nothing of importance came out of it. We were one of the first housholds in our area to have two phone lines, so that my modem wouldn&apos;t blockthe only phone line.
                After high school I went to study Internation Business with a major in Marketing Management and two minors in English and Spanish. I really liked the combination and it allowed me to study abroad. So I&apos;ve been to (in historical order) Chile, Spain, Indonesia, New Zealand and Brazil. I always had a passion for the creative arts especially film and television. I then went to become a film editor and colorist which led me to Cologne.
                
                
                Hobbies: My family, Running, Gaming (started with the NES World Cup Edition 1990), but rarely have the time for it now
                Interests: </p>
        </div>
    </div>
</BaseLayout>

<style lang="scss">
    .wrapper {
  display: grid;
  place-items: center;
}

.about {
    max-width: 1280px;
    font-family: var(--ff-sans);
    line-height: 1.6;
    color: #333;
    padding: 2rem;
}
</style>