---
import BaseLayout from "../layouts/BaseLayout.astro";
import BackToHome from "../components/shared/BackToHome.astro";
---

<BaseLayout title="About me" pageTitle="Stephan Pfeiffer | Web Developer" description="This page tells you more about me.">
        <BackToHome />
            <div class="about">

                <h1>short story long</h1>
                <h2>I Was Born a Month Before Pac-Man Was Released</h2>

                <p class="paragraph">A few years later, during high school, I purchased my first PC (a 486 DX-33 with 8MB RAM) and quickly developed an intense fascination with all things computer-related. From that point on, I've been building my own PCs from scratch, making me the go-to person in my family for any PC-related issues. Our family was also one of the first in our area to have two phone lines (ISDN), allowing me to use a modem without blocking the primary line.</p>
                
                <p class="paragraph">During my high school years, I dabbled in programming with Turbo Pascal and Delphi, though nothing of significance came out of these experiments.</p>
                
                <h2>About My Education</h2>
                
                <p class="paragraph">After finishing high school, I pursued an International Business degree with a major in Marketing Management and minors in English and Spanish. This combination allowed me to study abroad in Chile, Spain, Indonesia, New Zealand, and Brazil. </p>
                
                <h2>My Passion for Creative Arts and the Need for Change</h2>
                
                <p class="paragraph">But I always had a knack for the creative arts, particularly film and television. This led me to become a film editor and colorist based in Cologne.</p>
                
                <h2>My Transition to Web Development</h2>
                
                <p class="paragraph">After nearly 16 years working for German television, I felt the need to explore new avenues and decided to transition into web development, drawn by my lifelong fascination with computers and the internet's workings. In the first half of 2022 (before ChatGPT came about), I've started learning HTML, CSS, JavaScript, and aspects of web design and UI/UX design. Needless to say that all the emerging generative AI slighlty influenced my learning process.</p>

                <p class="paragraph">
                    <strong>Hobbies:</strong> my family, running, gaming (started with the NES World Cup Edition 1990), but rarely have the time for it now
                </p>
                <p class="paragraph">
                    <strong>Interests:</strong> movies, travel, computer science, AI, machine learning, computer vision, and the list goes on...
                </p>
            </div>
</BaseLayout>

<style lang="scss">

    h1 {
        font-family: var(--ff-serif);
    }

    .about {
        max-width: 1280px;
        font-family: var(--ff-sans);
        line-height: 1.6;
        color: #333;
        margin-bottom: 6rem;
    }

    .paragraph {
        text-wrap: pretty;
        text-align: justify;
        margin-bottom: 1rem;
        hyphens: auto;
        -webkit-hyphens: auto;
    }

    .container {
        // width: min(100% - 2rem, 70rem);
        margin-inline: auto;
        padding-inline: var(--container-padding, 1rem);
    }
</style>