<!-- Datenschutzerklärung

In dieser Datenschutzerklärung informieren wir Sie über die Verarbeitung personenbezogener Daten bei der Nutzung dieser Website.

Verantwortlicher

Verantwortlich für die Datenverarbeitung ist:
Name, Adresse, Telefonnummer und E-Mail-Adresse des Websitebetreibers ergänzen

Datenschutzbeauftragter

Die Angabe ist nur erforderlich, Pflicht zur Bestellung eines Datenschutzbeauftragten. Besteht keine Pflicht, kann dieser Abschnitt entfallen.

Pflicht zu einem Datenschutzbeauftragten besteht in folgenden Fällen:

Im Unternehmen verarbeiten mindestens 20 Mitarbeiter regelmäßig automatisiert Daten wie z. B. mit Computern.
Im Unternehmen verarbeiten Sie unabhängig von der Mitarbeiterzahl mindestens eine Kategorie folgender personenbezogener Daten: ethnische Herkunft, Rasse, politische Meinung, religiöse Überzeugung, Gewerkschaftszugehörigkeit, Gesundheit oder Sexualleben.
Mittelpunkt der Geschäftstätigkeit ist die Übermittlung personenbezogener Daten wie sie z. B. eine Auskunftei, ein Adressverlag oder ein Markt- und Meinungsforschungsinstitut ausübt.
Im Falle eines externen Datenschutzbeauftragten
Der Datenschutzbeauftragte ist unter der folgenden Adresse zu erreichen:

Name, Adresse, Telefonnummer und E-Mail-Adresse des externen Datenschutzbeauftragten ergänzen

Im Falle eines betrieblichen Datenschutzbeauftragten
Bitte ergänzen Sie die Adresse bei der Kontaktaufnahme per Post mit dem Hinweis – Datenschutzbeauftragter –. Per E-Mail erreichen Sie den Datenschutzbeauftragten über die folgende E-Mail-Adresse: E-Mail-Adresse des Datenschutzbeauftragten einfügen

Personenbezogene Daten

Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (betroffene Person) beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.

Daten beim Websiteaufruf

Wenn Sie diese Website nur nutzen, um sich zu informieren und keine Daten angeben, dann verarbeiten wir nur die Daten, die zur Anzeige der Website auf dem von Ihnen verwendeten internetfähigen Gerät erforderlich sind. Das sind insbesondere:

IP-Adresse
Datum und Uhrzeit der Anfrage
jeweils übertragene Datenmenge
die Website, von der die Anforderung kommt
Browsertyp und Browserversion
Betriebssystem
Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 lit. f) DSGVO, um die Darstellung der Website grundsätzlich zu ermöglichen.

Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene und nicht personenbezogene Daten verarbeitet werden.

Ihre Rechte

Als betroffene Person haben Sie folgende Rechte:

Sie haben ein Auskunftsrecht bezüglich der Sie betreffenden personenbezogenen Daten, die der Verantwortliche verarbeitet (Art. 15 DSGVO),
Sie haben das Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig gespeichert werden (Art. 16 DSGVO),
Sie haben das Recht auf Löschung (Art. 17 DSGVO),
Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen (Art. 18 DSGVO),
Sie haben das Recht auf Datenübertragbarkeit (Art. 20 DSGVO),
Sie haben ein Widerspruchsrecht gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten (Art. 21 DSGVO),
Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO),
Sie haben das Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen Aufsichtsbehörde zu beschweren (Art. 77 DSGVO). Zuständig ist die Aufsichtsbehörde an Ihrem üblichen Aufenthaltsort, Arbeitsplatz oder am Ort des vermuteten Verstoßes.
Einsatz von Cookies 

Beim Besuch der Website können Cookies auf Ihrem Gerät gespeichert werden. Cookies sind kleine Textdateien, die von dem von Ihnen verwendeten Browser gespeichert werden. Cookies können keine Programme ausführen und auch keine Viren auf Ihr Gerät übertragen. Die Stelle, die den Cookie setzt, kann darüber jedoch bestimmte Informationen erhalten. So kann mithilfe von Cookies insbesondere das Gerät, mit dem diese Website aufgerufen wurde, bei einem erneuten Aufruf erkannt werden.

Durch die Browsereinstellungen lässt sich das Setzen von Cookies einschränken oder verhindern. So kann z. B. nur die Annahme von Cookies, die von Drittanbietern stammen, blockiert werden oder aber auch die Annahme von allen Cookies. Durch das Blockieren sind jedoch möglicherweise nicht mehr alle Funktionen dieser Website nutzbar. Im weiteren Text dieser Datenschutzerklärung informieren wir Sie konkret, an welchen Stellen und zu welchen Zwecken Cookies auf den Seiten zum Einsatz kommen.

Quelle: Muster-Datenschutzerklärung von anwalt.de -->

<p><strong>Datenschutzerklärung</strong></p>
<p>In dieser Datenschutzerklärung informieren wir Sie über die Verarbeitung personenbezogener Daten bei der Nutzung dieser Website.</p><p><strong>Verantwortlicher</strong></p><p>Verantwortlich für die Datenverarbeitung ist:<br><em>Name, Adresse, Telefonnummer und E-Mail-Adresse des Websitebetreibers ergänzen</em></p><p><strong>Datenschutzbeauftragter</strong></p><p><em>Die Angabe ist nur erforderlich, Pflicht zur Bestellung eines Datenschutzbeauftragten. Besteht keine Pflicht, kann dieser Abschnitt entfallen.</em></p><p><em>Pflicht zu einem Datenschutzbeauftragten besteht in folgenden Fällen:</em></p><ul><li><em>Im Unternehmen verarbeiten mindestens 20 Mitarbeiter regelmäßig automatisiert Daten wie z. B. mit Computern.</em></li><li><em>Im Unternehmen verarbeiten Sie unabhängig von der Mitarbeiterzahl mindestens eine Kategorie folgender personenbezogener Daten: ethnische Herkunft, Rasse, politische Meinung, religiöse Überzeugung, Gewerkschaftszugehörigkeit, Gesundheit oder Sexualleben.</em></li><li><em>Mittelpunkt der Geschäftstätigkeit ist die Übermittlung personenbezogener Daten wie sie z. B. eine Auskunftei, ein Adressverlag oder ein Markt- und Meinungsforschungsinstitut ausübt.</em></li></ul><p><em>Im Falle eines externen Datenschutzbeauftragten</em><br/>Der Datenschutzbeauftragte ist unter der folgenden Adresse zu erreichen:</p><p><em>Name, Adresse, Telefonnummer und E-Mail-Adresse des externen Datenschutzbeauftragten ergänzen</em></p><p><em>Im Falle eines betrieblichen Datenschutzbeauftragten</em><br/>Bitte ergänzen Sie die Adresse bei der Kontaktaufnahme per Post mit dem Hinweis – Datenschutzbeauftragter –. Per E-Mail erreichen Sie den Datenschutzbeauftragten über die folgende E-Mail-Adresse: <em>E-Mail-Adresse des Datenschutzbeauftragten einfügen</em></p><p><strong>Personenbezogene Daten</strong></p><p>Personenbezogene Daten sind alle Informationen, die sich auf eine identifizierte oder identifizierbare natürliche Person (betroffene Person) beziehen. Als identifizierbar wird eine natürliche Person angesehen, die direkt oder indirekt, insbesondere mittels Zuordnung zu einer Kennung wie einem Namen, zu einer Kennnummer, zu Standortdaten, zu einer Online-Kennung oder zu einem oder mehreren besonderen Merkmalen identifiziert werden kann, die Ausdruck der physischen, physiologischen, genetischen, psychischen, wirtschaftlichen, kulturellen oder sozialen Identität dieser natürlichen Person sind.</p><p><strong>Daten beim Websiteaufruf</strong></p><p>Wenn Sie diese Website nur nutzen, um sich zu informieren und keine Daten angeben, dann verarbeiten wir nur die Daten, die zur Anzeige der Website auf dem von Ihnen verwendeten internetfähigen Gerät erforderlich sind. Das sind insbesondere:</p><ul><li>IP-Adresse</li><li>Datum und Uhrzeit der Anfrage</li><li>jeweils übertragene Datenmenge</li><li>die Website, von der die Anforderung kommt</li><li>Browsertyp und Browserversion</li><li>Betriebssystem</li></ul><p>Rechtsgrundlage für die Verarbeitung dieser Daten sind berechtigte Interessen gemäß Art. 6 Abs. 1 lit. f) DSGVO, um die Darstellung der Website grundsätzlich zu ermöglichen.</p><p>Darüber hinaus können Sie verschiedene Leistungen auf der Website nutzen, bei der weitere personenbezogene und nicht personenbezogene Daten verarbeitet werden.</p><p><strong>Ihre Rechte</strong></p><p>Als betroffene Person haben Sie folgende Rechte:</p><ul><li>Sie haben ein Auskunftsrecht bezüglich der Sie betreffenden personenbezogenen Daten, die der Verantwortliche verarbeitet (Art. 15 DSGVO),</li><li>Sie haben das Recht auf Berichtigung der Sie betreffenden Daten, wenn diese unrichtig oder unvollständig gespeichert werden (Art. 16 DSGVO),</li><li>Sie haben das Recht auf Löschung (Art. 17 DSGVO),</li><li>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen (Art. 18 DSGVO),</li><li>Sie haben das Recht auf Datenübertragbarkeit (Art. 20 DSGVO),</li><li>Sie haben ein Widerspruchsrecht gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten (Art. 21 DSGVO),</li><li>Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO),</li><li>Sie haben das Recht, sich bei einem vermuteten Verstoß gegen das Datenschutzrecht bei der zuständigen Aufsichtsbehörde zu beschweren (Art. 77 DSGVO). Zuständig ist die Aufsichtsbehörde an Ihrem üblichen Aufenthaltsort, Arbeitsplatz oder am Ort des vermuteten Verstoßes.</li></ul>
<p><strong>Einsatz von Cookies&nbsp;</strong></p>
<p>Beim Besuch der Website können Cookies auf Ihrem Gerät gespeichert werden. Cookies sind kleine Textdateien, die von dem von Ihnen verwendeten Browser gespeichert werden. Cookies können keine Programme ausführen und auch keine Viren auf Ihr Gerät übertragen. Die Stelle, die den Cookie setzt, kann darüber jedoch bestimmte Informationen erhalten. So kann mithilfe von Cookies insbesondere das Gerät, mit dem diese Website aufgerufen wurde, bei einem erneuten Aufruf erkannt werden.</p><p>Durch die Browsereinstellungen lässt sich das Setzen von Cookies einschränken oder verhindern. So kann z. B. nur die Annahme von Cookies, die von Drittanbietern stammen, blockiert werden oder aber auch die Annahme von allen Cookies. Durch das Blockieren sind jedoch möglicherweise nicht mehr alle Funktionen dieser Website nutzbar. Im weiteren Text dieser Datenschutzerklärung informieren wir Sie konkret, an welchen Stellen und zu welchen Zwecken Cookies auf den Seiten zum Einsatz kommen.</p>
<p>Quelle: <a href="https://www.anwalt.de/vorlage/muster-datenschutzerklaerung.php" rel="nofollow">Muster-Datenschutzerklärung von anwalt.de</a></p>