---
---

<main>
    <section>
        <h1>tl;dr</h1>
        <p>(too long, didn't read)</p>
        <a href="/about"><p>&rarrlp; get the short story long here</p></a>
    </section>
</main>

<style>
    main {
        outline: auto;
        margin-inline: auto;
        max-width: var(--max-width);
    }
    h1 {
        /* font-family: 'Sedan';
        font-style: italic; */
        font-family: var(--ff-serif);
        font-style: italic;
        font-size: var(--fs-900);
        font-weight: var(--fw-light);
    }

    p {
        font-family: var(--ff-serif);
        font-size: var(--fs-500);
        font-weight: var(--fw-light);
    }
</style>