---
import { Image } from 'astro:assets';
import portrait from '../../images/Stephan-Pfeiffer.jpg';

import { Icon } from 'astro-icon/components'

const devIcons = [
    {
    name: "HTML 5",
    url: "",
    icon: "devicon:html5",
  },
    {
    name: "CSS 3",
    url: "",
    icon: "devicon:css3",
  },
    {
    name: "Tailwind",
    url: "",
    icon: "devicon:tailwindcss",
  },
    {
    name: "JavaScript",
    url: "",
    icon: "devicon:javascript",
  },
    {
    name: "TypeScript",
    url: "",
    icon: "devicon:typescript",
  },
  {
  name: "Astro",
  url: "https://astro.build/",
  icon: "devicon:astro",
},
	{
    name: "Vue",
    url: "https://vuejs.org/",
    icon: "devicon:vuejs",
  },
];
---

<main>
    <section>
        <div class="wrapper intro">
            <div class="column one">
                <div class="welcome">
                    <p>Hi, I am  </p>
                    <div class="roller">
                            <p>Stephan</p>
                            <p>a problem finder</p>
                            <p>a solution seeker</p>
                            <p>a web developer</p>
                    </div>
                </div>
                <div class="tldr">
                    <h1>tl;dr</h1>
                    <p>(too long, didn't read)</p>
                    <a href="/about"><p>&dzigrarr; get the short story long here</p></a>
                </div>
                    <p class="paragraph">From storytelling on television screens to crafting immersive digital experiences, I bring a unique perspective to web development. My 16+ years as a television editor and colorist honed my ability to deliver visually stunning content, while my studies in International Business sharpened my strategic thinking. Now, as a freelance web developer, I focus on creating websites that are both functional and aesthetically engaging, merging creativity with clean, efficient code.</p>
            </div>
            <div class="column two">
                    <Image src={portrait} alt="A test image to test." />
            </div>
        </div>
        </section>
        <section>
            <div class="wrapper tools">
                <p class="header">what&apos;s in my tool belt</p>
                <div class="devicons">
                    {
                        devIcons.map((icon) => (
                            <Icon name={icon.icon} title={icon.name}/>
                        ))
                    }
                </div>
                <p class="paragraph">For solo projects I like to use Astro because it let&apos;s me sprinkle in any other technology I need. My favorite framework is Vue and Nuxt, but I also have some experience with React and Next. For automation and machine learning projects I use Python. Generally, I am open to learn new technologies as it benefits the outcome.</p>
            </div>

        </section>
        <section class="wrapper projects">
            <p class="header">projects</p>
            <p class="paragraph">coming soon...</p>
        </section>
        <section class="wrapper blog">
            <p class="header">blog</p>
            <p class="paragraph">coming soon...</p>
        </section>
        <section class="wrapper contact" id="contact">
            <p class="header">contact</p>
            <p class="paragraph">If you're interested in working with me, please get in touch.</p>
        </section>
    </section>
</main>

<style lang="scss">
    section {
        margin-bottom: 2rem;
    }
        .wrapper {
            &.intro {
                display: grid;
                grid-template-columns: 1fr;
            }
            margin-inline: 1rem;
            &.tools {
            }
            &.projects, &.blog {
                text-align: center;
            }
            &.contact {
                text-align: center;
            }
            
        }
    @media screen and (min-width: 800px) {
        .wrapper {
            margin-bottom: 4rem;
            &.intro {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: auto;
                gap: 2rem;
                .column {
                    padding-top: 2rem;
                    &.one {
    
                    }
                    
                    &.two {
                        height: 0;
                        min-height: 100%;
                        overflow: hidden;
                        
                        img {
                            height: 100%;
                            object-fit: cover;
                            border-radius: 20px;

                        }
                    }
                }

            }

        }
    }
    
    main {
        margin-inline: auto;
        max-width: var(--max-width);
    }

    .welcome {
        display: flex;
        margin-bottom: 2rem;
        gap: 1rem;
        height: 3.5rem;
        overflow: hidden;
        
        p {
            font-size: var(--fs-700);
            font-family: inherit;
        }
        .roller {
            display: inline-block;
            animation: slide 10s ease-in-out infinite;
            p {
            font-weight: var(--fw-bold);
            }
        }
    }

    .tldr {
        margin-bottom: 2rem;
    }
@keyframes slide {
        0% {
            transform: translateY(0.125rem);
        }
        10% {
            transform: translateY(0.125rem);
        }
        30% {
            transform: translateY(calc(-3.75rem));
        }
        50% {
            transform: translateY(calc(-7.5rem));
        }
        70% {
            transform: translateY(calc(-11.25rem));
        }   
        90% {
            transform: translateY(calc(-11.25rem));
        }   
        100% {
            transform: translateY(0.125rem);
        }
    }


    [data-icon] {
        font-size: 5rem;
    }

@media screen and (max-width: 800px) {
    img {
        max-height: 600px;
        object-fit: cover;
        border-radius: 0px;
        border-radius: 20px;

        
    }
    .welcome {
        gap: .5rem;
        margin-block: 1rem;
        height: 2.5rem;
        overflow: hidden;

        p {

            font-size: var(--fs-600);
        }

        }
        @keyframes slide {
            0% {
                transform: translateY(0.075rem);
            }
            10% {
                transform: translateY(0.075rem);
            }
            30% {
                transform: translateY(calc(-3rem));
            }
            50% {
                transform: translateY(calc(-6rem));
            }
            70% {
                transform: translateY(calc(-9rem));
            }   
            90% {
                transform: translateY(calc(-9rem));
            }   
            100% {
                transform: translateY(0.075rem);
            }
        }
        [data-icon] {
            text-wrap: pretty;
            font-size: 3rem;
        }
    }


        .devicons {
            text-align: center;
            margin: 2rem;
            [data-icon] {
                margin-inline: 1rem;
                padding-bottom: 1rem;
            }
        }

    h1 {
        font-family: var(--ff-serif);
        font-style: italic;
        font-size: var(--fs-900);
        font-weight: var(--fw-light);
    }

    h2 {
        font-size: var(--fs-500);
    }

</style>