---
import { Image } from 'astro:assets';
import testImage from '../../images/test.jpg';

import { Icon } from 'astro-icon/components'

const devIcons = [
	{
    name: "Vue",
    url: "https://vuejs.org/",
    icon: "devicon:vuejs-wordmark",
  },
	{
    name: "Astro",
    url: "https://astro.build/",
	icon: "devicon:astro-wordmark",
  },
	{
    name: "JavaScript",
    url: "",
	icon: "devicon:javascript",
  },
];
---

<main>
    <section>
        <div class="wrapper">
            <div class="column one">
                <div class="tldr">
                    <h1>tl;dr</h1>
                    <p>(too long, didn't read)</p>
                    <a href="/about"><p>&rarrlp; get the short story long here</p></a>
                </div>
                <div class="welcome">
                    <p>Hi, I am  </p>
                    <div class="roller">
                            <p>Stephan</p>
                            <p>a problem finder</p>
                            <p>a solution seeker</p>
                            <p>a web developer</p>
                    </div>
                </div>
                <div class="paragraph">
                    <p>From storytelling on television screens to crafting immersive digital experiences, I bring a unique perspective to web development. My 16+ years as a television editor and colorist honed my ability to deliver visually stunning content, while my studies in International Business sharpened my strategic thinking. Now, as a freelance web developer, I focus on creating websites that are both functional and aesthetically engaging, merging creativity with clean, efficient code.</p>
                </div>
            </div>
            <div class="column two">
                    <Image src={testImage} alt="A test image to test." />
            </div>
        </div>
        </section>
        <section>
            <div class="tools">
                <p class="header">what&apos;s in my tool belt</p>
                <div class="devicons">
                    {
                        devIcons.map((icon) => (
                            <a href={icon.url}>
                                <Icon name={icon.icon} />
                            </a>
                        ))
                    }
                </div>
                <p class="paragraph">For solo projects I like to use Astro because it let&apos;s me sprinkle in any other technology I need. My favorite framework is Vue and Nuxt, but I also have some experience with React and Next. For automation and machine learning projects I use Python. Generally, I am open to learn new technologies as it benefits the outcome.</p>
            </div>

        </section>
    </section>
</main>

<style lang="scss">
    section {
        margin-block: 2rem;
    }
        .wrapper {
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;

            .column {
                padding-bottom: 2rem;
                &.one {
                    margin-inline: 1rem;
                }
                &.two {
                    margin: 0;
                }
            }
            
        }
    @media screen and (min-width: 1080px) {
        .wrapper {
        margin-block: 4rem;
        margin-inline: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;

        .column {
            padding-top: 2rem;
            &.one {

            }
            
            &.two {
                height: 0;
                min-height: 100%;
                width: 100%;
                overflow: hidden;
                
                img {
                    border-radius: 20px;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }



    }
    
    main {
        margin-inline: auto;
        max-width: var(--max-width);
    }

    .welcome {
        display: flex;
        margin-block: 2rem;
        gap: 1rem;
        height: 3.5rem;
        overflow: hidden;
        
        p {
            font-size: var(--fs-700);
            font-family: inherit;
        }
        .roller {
            display: inline-block;
            animation: slide 10s ease-in-out infinite;
            p {
            font-weight: var(--fw-bold);
        }
    }
}
@keyframes slide {
        0% {
            transform: translateY(0.125rem);
        }
        10% {
            transform: translateY(0.125rem);
        }
        30% {
            transform: translateY(calc(-3.75rem));
        }
        50% {
            transform: translateY(calc(-7.5rem));
        }
        70% {
            transform: translateY(calc(-11.25rem));
        }   
        90% {
            transform: translateY(calc(-11.25rem));
        }   
        100% {
            transform: translateY(0.125rem);
        }
    }

@media screen and (max-width: 1080px) {
    img {
        max-height: 400px;
        object-fit: cover;
        border-radius: 0px;
        
    }
    .welcome {
        p {

            font-size: var(--fs-600);
        }

        }
        @keyframes slide {
            0% {
                transform: translateY(0.075rem);
            }
            10% {
                transform: translateY(0.075rem);
            }
            30% {
                transform: translateY(calc(-3rem));
            }
            50% {
                transform: translateY(calc(-6rem));
            }
            70% {
                transform: translateY(calc(-9rem));
            }   
            90% {
                transform: translateY(calc(-9rem));
            }   
            100% {
                transform: translateY(0.075rem);
            }
        }
    }


    .paragraph {
        font-size: var(--fs-500);
        font-family: var(--ff-sans);
        font-weight: var(--fw-light);
        line-height: 1.5;
        text-wrap: pretty;
    }

    .tools {
        margin-inline: 1rem;
        .header {
            font-style: italic;
            font-size: var(--fs-700);

            ::after {
                content: 'Hello';
                display: block;
                width: 100%;
                height: 5px;
                background-color: var(--clr-primary-400);
            }
        }
        .devicons {
            text-align: center;
            margin: 2rem;
        }
    }

    [data-icon] {
      font-size: 5rem;
    }

    h1 {
        font-family: var(--ff-serif);
        font-style: italic;
        font-size: var(--fs-900);
        font-weight: var(--fw-light);
    }

    h2 {
        font-size: var(--fs-500);
    }

</style>