---
// export const partial = true;

import { Image } from 'astro:assets';
import portrait from '../../images/Stephan-Pfeiffer.jpg';
---


    <section>
        <div class="wrapper intro upperline">
            <div class="column one">
                <div class="welcome">
                    <p>Hi, I am  </p>
                    <div class="roller">
                            <p>Stephan</p>
                            <p>a problem finder</p>
                            <p>a solution seeker</p>
                            <p>a web developer</p>
                    </div>
                </div>
                <div class="tldr">
                    <h1 class="tldr_header">tl;dr</h1>
                    <p class="tldr_sub">
                        <p>(too long, didn't read)</p>
                        <a href="/about"><p>&dzigrarr; get the short story long here</p></a>
                    </p>
                </div>
                <p class="paragraph">From crafting engaging stories on television screens to creating immersive digital experiences, I bring a unique perspective to web development. With over 16 years of experience as a television editor and colorist, I've honed my ability to produce visually stunning content, while my studies in International Business have sharpened my strategic thinking. Now, as a freelance web developer, I focus on building websites that are not only functional but also aesthetically appealing, blending creativity with clean, efficient code.</p>
            </div>
            <div class="column two">
                <div class="image-wrapper">

                    <Image src={portrait} format="webp" alt="A portrait of Stephan Pfeiffer."/>
                </div>
            </div>
        </div>
    </section>


<style lang="scss">

    .image-wrapper {
        height: 100%;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 30px -8px;
        border-radius: 20px;


    }
    .welcome {
        display: flex;
        margin-block: 2rem;
        gap: 1rem;
        height: 3.5rem;
        overflow: hidden;
        
        p {
            font-size: var(--fs-700);
            font-family: inherit;
        }
        .roller {
            display: inline-block;
            animation: slide 10s ease-in-out infinite;
            p {
            font-weight: var(--fw-bold);
            }
        }
    }
    

    .tldr {
        margin-bottom: 2rem;
        &_header {
            font-family: var(--ff-serif);
            position: relative;
            top: 15px;
        }
        &_sub {
            p {
                font-family: var(--ff-serif);
                font-size: 2rem;
            }
        }
    }



@keyframes slide {
        0% {
            transform: translateY(0.125rem);
        }
        10% {
            transform: translateY(0.125rem);
        }
        30% {
            transform: translateY(calc(-3.75rem));
        }
        50% {
            transform: translateY(calc(-7.5rem));
        }
        70% {
            transform: translateY(calc(-11.25rem));
        }   
        90% {
            transform: translateY(calc(-11.25rem));
        }   
        100% {
            transform: translateY(0.125rem);
        }
    }



@media screen and (max-width: 800px) {
    img {
        // margin-block: 1rem;
        max-height: 600px;
        object-fit: cover;
        // border-radius: 0px;
        // border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
    .welcome {
        gap: .5rem;
        margin-block: 1rem;
        height: 2.5rem;
        overflow: hidden;

        p {

            font-size: var(--fs-600);
        }

        }
        @keyframes slide {
            0% {
                transform: translateY(0.075rem);
            }
            10% {
                transform: translateY(0.075rem);
            }
            30% {
                transform: translateY(calc(-3rem));
            }
            50% {
                transform: translateY(calc(-6rem));
            }
            70% {
                transform: translateY(calc(-9rem));
            }   
            90% {
                transform: translateY(calc(-9rem));
            }   
            100% {
                transform: translateY(0.075rem);
            }
        }

        .link {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }
        }
</style>