---
import { Icon } from 'astro-icon/components';
import type { Social } from '../../types/Social';

const socials: Social[] = [
	{
    name: "Github",
    url: "https://github.com/Steph-The-Dev/",
    icon: "mdi:github",
    platform: "GitHub"
  },
	{
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/stephanpfeiffer/",
	  icon: "mdi:linkedin",
    platform: "LinkedIn"
  },
	{
    name: "Bluesky",
    url: "https://stephthedev.bsky.social/",
	  icon: "simple-icons:bluesky",
    platform: "Bluesky"
  },
  {
    name: "RSS Feed",
    url: "https://stephthedev.de/blog.xml",
	  icon: "mdi:rss-feed",
    platform: "RSS"
  },
];

---

<section class="socials">
    <div class="social-icons">
        {socials.map((social) => (
            <a href={social.url} target={social.url}>
                <Icon name={social.icon} />
            </a>
        ))}
    </div>
</section>

<style lang="scss">
    .socials {
        box-shadow: rgba(99, 99, 99, 0.1) 0px 12px 6px -6px;
        margin-bottom: 1rem;
        
        .social-icons {
            display: flex;
            justify-content: space-around;
            gap: 1.5rem;
            
            a {
                display: flex;
                align-items: center;
                padding-block: 0.5rem;
            }
        }
    }
    
    [data-icon] {
        font-size: 2rem;
    }

    @media screen and (width > 900px) {
        .socials {
            display: none;
        }
    }
</style>