---
---

<section class="wrapper projects">
    <p class="header">projects</p>
    <p class="paragraph">coming soon...</p>
</section>

<style lang="scss">
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // padding: 1rem 2rem;
        &.projects {
            margin-top: 2rem;
            * {
                text-align: center;
            }
        }
    }
</style>
