---
import { Icon } from 'astro-icon/components'

const devIcons = [
    {
    name: "HTML 5",
    icon: "devicon:html5",
  },
    {
    name: "CSS 3",
    icon: "devicon:css3",
  },
    {
    name: "Tailwind",
    icon: "devicon:tailwindcss",
  },
    {
    name: "SCSS",
    icon: "devicon:sass",
  },
    {
    name: "JavaScript",
    icon: "devicon:javascript",
  },
    {
    name: "TypeScript",
    icon: "devicon:typescript",
  },
  {
  name: "Astro",
  icon: "devicon:astro",
},
	{
    name: "Vue",
    icon: "devicon:vuejs",
  },
	{
    name: "Nuxt",
    icon: "logos:nuxt-icon",
  },
  {
    name: "React",
    icon: "devicon:react",
  },
  {
    name: "Next",
    icon: "devicon:nextjs",
  },
  {
    name: "Python",
    icon: "devicon:python",
  },
	{
    name: "Git",
    icon: "devicon:git",
  },
];
---

<section>
    <div class="wrapper tools">
        <p class="header">what&apos;s in my tool belt</p>
        <div class="devicons">
            {
                devIcons.map((icon) => (
                    <Icon name={icon.icon} title={icon.name}/>
                ))
            }
        </div>
        <p class="paragraph">In terms of technology, I'm open to learning new tools when it enhances project outcomes. For solo projects, I prefer using Astro because it allows me to incorporate other technologies as needed. My go-to framework is Vue and Nuxt, but I also have some experience with React and Next.js. For automation and machine learning tasks, I primarily use Python.</p>
    </div>
</section>

<style lang="scss">
    .wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        // padding: 1rem 2rem;
        .paragraph {
        text-align: justify;
        hyphens: auto;
        -webkit-hyphens: auto;
    }
        &.tools {
            margin-top: 2rem;
            .devicons {
              display: flex;
              justify-content: center;
              font-size: 5rem;
              margin-inline: auto;
              gap: 2rem;
              flex-wrap: wrap;
              [data-icon] {
                  font-size: 2.5rem;
              }
            }
        }
    }
</style>
