---
import type { CollectionEntry } from "astro:content";

import BlogSummaryCard from "./BlogSummaryCard.astro";

export interface Props {
	posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class="blog-grid">
	{
		posts.map((post) => {
			return (
				<li>
					<BlogSummaryCard post={post} />
				</li>
			);
		})
	}
</ul>

<style>
	/* .blog-grid {
		display: grid;
		align-content: space-around;
		gap: 2rem;
		list-style: none;
		padding: 0;
		grid-template-columns: repeat(auto-fill, minmax(min(50%, 350px), 1fr));
	} */

	li {
		place-items: center;
	}
</style>
