---
import type { CollectionEntry } from "astro:content";

import BlogSummaryCard from "./BlogSummaryCard.astro";

export interface Props {
	posts: CollectionEntry<"blog">[];
}

const { posts } = Astro.props;
---

<ul class="blog-grid">
	{
		posts.map((post) => {
			return (
				<li>
					<BlogSummaryCard post={post} />
				</li>
			);
		})
	}
</ul>

<style>
	.blog-grid {
		display: grid;
		gap: 2rem;
		list-style: none;
		padding: 0;
	}
	@media screen and (min-width: 1024px) {
		.blog-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}
</style>
