---
import BaseNavigation from "../components/layout/BaseNavigation.astro"
import BaseHead from "../components/layout/BaseHead.astro"
import Footer from "../components/layout/Footer.astro"
---

<html lang="en">
    <BaseHead {...Astro.props} />
    <BaseNavigation />
	<main>
		<slot />
	</main>
	<Footer />
</html>